﻿@{@model ConverterKethireddy.Models.Converter
   
}

<h2>@ViewData["Title"]</h2>

<div class="col-xs-12" >
    <form asp-controller="Home" asp-action="Convert" method="post" class="form-horizontal" role="form">

        <div>
          
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            
                <label asp-for="Temperature_F"></label><br />
                <input asp-for="Temperature_F" class="form-control" />
                <span asp-validation-for="Temperature_F" class="text-danger"></span><br />
                <input type="submit" value="Convert" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>

<h2>@ViewData["Result"]</h2>
<script>
    if(@ViewData["Value"]<11){
        document.body.style.backgroundImage = "url(https://wallpaperscraft.com/image/snowfall_winter_precipitation_trees_60966_1920x1080.jpg)";

    }
    else if (@ViewData["Value"] >=11 && @ViewData["Value"] <=25){
        document.body.style.backgroundImage = "url(http://img03.deviantart.net/f312/i/2011/219/0/5/ocean_breeze_by_0hmy-d45re5e.jpg)";
    }
    else{
        document.body.style.backgroundImage = "url(http://images.techtimes.com/data/images/full/20426/extremely-hot-weather.jpg?w=600)";
    }
</script>